{
	"user": "alerts.n.crashes@gmail.com",
	"pass": "gpbpjxsqjhykgivf",
	"pass.human": "(lets.sent.this.stuff.away)",

	"smtp": "smtp.gmail.com",
	"port": "587",

	"message": "This is a really unimaginative message, I know.",
	"from": "alerts",
	"subject": "The following pages seem to be updated ..."
}